@charset "UTF-8";

.headTitle{
	background-color:lightblue;
	text-align: center;
	
}

.container{
    text-align: center;
	background-color:coral;
}

input{
	margin-left: 20px;
	cursor:pointer
}

.btn{
	margin-top:20px;
	width:100px;
	height:30px;
	border-radius:10px;
	cursor:pointer;
	font-size:medium;
}